@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<h2>Leonardo Barbosa - @ViewData["Level"]</h2>
<h3>Especialista em ASP.NET Core</h3>

<hr />

<p>Use this area to provide additional information.</p>
